*{
    padding: 0;
    margin: 0;
}
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #e6a169;
}

body{
    background-color: #e6a169 !important
}

.bg-1{
    background-color: #ffebc6;
}

.bg-2{
    background-color: #f3efef;
}