<nav class="navbar shadow bg-1 sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">Cinema</a>
    <div class="offcanvas bg-1 offcanvas-start" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header bg-1">
        <h5 class="offcanvas-title " id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-1">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" aria-current="page" data-bs-dismiss="offcanvas">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Salas
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/sala" data-bs-dismiss="offcanvas">Todas Salas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/sala/cadastrar" data-bs-dismiss="offcanvas">Cadastrar Sala</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Sessões
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/sessao" data-bs-dismiss="offcanvas">Todas sessões</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="sessao/cadastrar" data-bs-dismiss="offcanvas">Cadastrar sessão</a></li>            </ul>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Vendas
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/venda" data-bs-dismiss="offcanvas">Todas Vendas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/venda/cadastrar" data-bs-dismiss="offcanvas">Cadastrar Venda</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>